* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    background-image: url('./images/backGround.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-position: top;
}

:root {
    /* Variables de colores */
    --color-white: #FFFFFF;
    --color-gray: #707070;
    --color-black: #080809;
    --color-gold: #BF9B5F;
    --color-blue: #222944;
    /* Variables de tamaños de fuente */
    --sm: 1.6rem;
    --md: 2rem;
    --lg: 2.8rem;
    --xl: 3.6rem;
}

/* Botones */
button {
    border: none;
}

.button--primary {
    background-color: var(--color-gold);
    border-radius: 28px;
    color: var(--color-white);
    cursor: pointer;
    font-size: var(--lg);
    transition: all 0.6s ease-out;
    padding: 12px 20px;
}


.button--primary:hover {
    background-color: var(--color-blue);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ***************************************
----------------- HEADER -----------------
**************************************** */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
}

.servicios__body .header .navbar {
    background-color: rgba(34, 41, 68, 0.2) !important;
}

.header__top {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
}

.header__data div {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: var(--sm);
    margin: 0 8px;
    padding: 8px;
}

.header__data img {
    height: var(--md);
    margin: 0 8px;
}

.header.bg nav.navbar {
    background-color: var(--color-blue) !important;
    transition: all 0.4s ease-out;
}

button.header__cta {
    background-color: var(--color-gold);
    color: var(--color-white);
    font-size: var(--md);
    padding: 0 16px;
    transition: all 0.6s cubic-bezier(0, 1.29, 1, 1);
}

/* Navbar */
nav.navbar.bg-dark {
    background-color: rgba(0, 0, 0, 0) !important;
    transition: all 0.6s ease-out;
    width: 100%;
}

.collapse.navbar-collapse {
    justify-content: right;
}

.navbar-dark .navbar-nav a.nav-link {
    color: var(--color-white);
    font-size: var(--sm);
    padding: 8px;
    transition: all 0.6s ease-out;
}

.navbar-dark .navbar-nav a.nav-link:hover {
    color: var(--color-gray);
    transition: all 0.3s ease-out;
}

.nav-item {
    margin: 0 12px;
}

.navbar-brand img {
    height: 40px;
    margin: 0 8px;
}

.navbar .social-icons > div {
    display: flex;
    align-items: center;
}

.navbar .social-icons svg {
    fill: var(--color-white);
    height: 24px;
    margin: 0 8px;
    transition: all 0.6s ease-out;
    width: 24px;
}

.navbar .social-icons svg:hover {
    fill: var(--color-gray);
    transition: all 0.3s ease-out;
}



/* ***************************************
------------- index.html -----------------
**************************************** */

.inicio__hero {
    align-items: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    padding: 64px 0;
}

.inicio__hero.inicio__hero--servicios {
    height: auto;
}

.inicio__hero--index{
    background-image: url('./images/heroBg.jpg');
}

.inicio__hero--servicios{
    background-image: url('./images/heroBg2.jpg');
}
.inicio__hero--contacto{
    background-image: url('./images/heroBg3.jpg');
    height: 80vh;
}

.hero__text {
    color: var(--color-white);
    font-size: var(--xl);
    font-weight: bold;
    text-align: center;
}

.hero__text .carousel {
    font-size: var(--sm);
    color: var(--color-black);
    font-weight: normal;
    text-align: left;
}

.carousel .carousel-item > * {
    margin: 12px 0;
}

.carousel .carousel-item {
    padding: 32px 60px;
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 12px;
    transition: all 0.6s ease-out;
}

.carousel .carousel-item img {
    height: auto;
    width: 80px;
}

/* Sección "¿Quienes somos?" */
.inicio__somos > div {
    background-image: url('./images/somosBG.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    color: var(--color-gray);
    font-size: var(--md);
    top: -100px;
}

.inicio__main h3 {
    font-size: var(--lg);
    font-weight: bold;
    color: var(--color-blue);
}

.somos__text > * {
    margin: 16px 0;
}

.somos__text--hero{
    font-size: var(--sm);
}

.somos__text p.blue {
    color: var(--color-blue);
    font-weight: bold;
    text-align: center;
}

.somos__text p.golden {
    color: var(--color-gold);
    font-weight: bold;
    text-align: center;
}

.somos__icons div {
    color: var(--color-blue);
    text-align: center;
    margin: 12px;
}

.somos__icons img {
    height: 72px;
}

.somos__icons h6 {
    color: var(--color-gray);
    font-size: var(--md);
}

/* Sección "Blog" */
.inicio__blog {
    position: relative;
    margin: 64px 0;
}

.blog__title {
    background-color: var(--color-white);
    border-radius: 12px;
    color: var(--color-blue);
    margin-left: 8vh;
    padding: 12px;
    position: relative;
    z-index: 5;
    width: 240px;
}

.blog__title h2 {
    font-size: var(--xl);
    font-weight: bold;
}


.blog__content::after {
    background-color: var(--color-blue);
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 1;
}

.blog__item {
    position: relative;
    width: 280px;
    margin: 24px;
    z-index: 2;
}

.blog__item div {
    position: absolute;
    bottom: 0;
    padding: 12px;
}

.blog__item div > *  {
    color: var(--color-white);
    font-size: var(--sm);
    margin: 12px;
}

.blog__item div h3 {
    font-size: var(--lg);
    font-weight: bold;
}

.blog__item div a:hover {
    color: var(--color-gold);
} 

.blog__item img {
    width: 100%;
}

/* Sección contacto */
.inicio__contacto {
    text-align: center;
}

.inicio__contacto h2 {
    color: var(--color-blue);
    font-size: var(--xl);
    font-weight: bold;
    margin: 24px 0;
}

.inicio__contacto > div {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 12px;
    color: var(--color-gray);
    font-size: var(--sm);
    margin: 0 auto;
    padding: 24px 12px;
}

.inicio__contacto form input,
.inicio__contacto form textarea {
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    padding: 8px;
    margin: 8px 0;
    width: 100%;
    resize: none;

}

.inicio__contacto form > button {
    width: 100%;
}

/* ***************************************
----------------- Servicios -----------------
**************************************** */
.somos__text--hero{
    color: var(--color-black);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 24px;
    border-radius: 12px;;
}
/* Sección "¿Que hacemos?" */
.serv__actividades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
}
.actvidades__img {
    width: 100%;
    height: 100%;
}

.actividades__tittle {
    font-size: var(--xl);
    font-weight: bold;
    margin: 24px 0;
}

.icon-text {
    display: flex;
    font-size: var(--md);
    margin: 8% 0%;
    place-items: center;

}
.icon-text img{
    width: 55px;
    margin-right: 5%;
}
.icon-text p{
    margin: 0;
}

/* Sección "Fichas tecnicas" */
.serv_fichas {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 32px 0;
}

.fichas__desc{
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 8px;
    margin-right:10%;
    padding: 5%;
    padding-right: 10%;
    font-size: var(--md);

}
.fichas__desc > h3{
    color: var(--color-white);
    font-size: var(--lg);
    margin: 8% 0;
}
.fichas__ficha {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    margin: 0 2%;
    padding: 5%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    row-gap: 1rem;
    height: 100%;

}
.fichas__ficha > *{
    align-self: center;
    font-size: var(--md);
}
.fichas__ficha img {
    width: 60px;
}
.fichas__ficha p {
    font-size: var(--sm);

}

/* ***************************************
----------------- Contacto  -----------
**************************************** */
.contacto {
    text-align: center;
}

.contacto h3{
    margin: 24px 0;
    font-size: var(--xl);
    font-weight: bold;
}
.contacto__mapa{
    width: 90%;
    height: 100%;
}

.inicio__contacto--left{
    width: 80% !important;
    padding: 3% 6% !important;
}


.banner_mercado h3{
    margin: 16px 0;
    font-size: var(--xl);
    font-weight: bold;
    text-align: center;
}
.mercado__texto{
    display: grid;
    grid-template-columns: min-content 1fr;
    font-size: var(--md);
    color: var(--color-gray);
    margin-left: 10%;
    align-items: center;
}
.mercado__texto p{
    margin: 0;
}
.mercado__texto img{
    width: 30px;
    margin: 0 10px;
}

.somos__icons {
    text-align: center;
    margin: 12px;
}
.somos__icons--size {
    height: 120px !important;
}



/* ***************************************
----------------- Footer -----------------
**************************************** */
.footer {
    border: 1px solid var(--color-gray);
    margin-top: 24px;
}

.footer__content h3 {
    color: var(--color-blue);
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 8px;
}

.footer__content li,
.footer__content li a {
    color: var(--color-gray);
    font-size: var(--md);
    list-style: none;
}

.footer__logo {
    height: 48px;
    margin: 12px auto;
}

.footer__info > div {
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer__info > div > img {
    width: 32px;
    margin-right: 16px;
}


.footer__social {
    text-align: center;
    margin: 16px 0;
}

.footer__social a {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    padding: 12px;
    margin: 0 12px;
    transition: all 0.6s ease;
    width: 40px;
}

.footer__social a:hover {
    background-color: var(--color-blue);
    transition: all 0.3s ease-in-out;
}

/* ***************************************
----------------- Media Querys -----------
**************************************** */

@media (min-width: 320px) {
    .padding-lr {
        padding-left: 32px;
        padding-right: 32px;
    }

    .padding-lrtb {
        padding: 32px;
    }

    /* Clase para hacer responsive el contenido*/
    .responsive-container {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .header .header__top,
    .header__data {
        flex-direction: column;
    }

    .navbar-collapse.collapse.show {
        background-color: #222944;
        border-radius: 16px;
        transition: all 0.3s ease-in-out;
    }

    nav.navbar.bg-dark {
        padding: 12px;
    }

    button.header__cta {
        width: 200px;
        margin: 12px auto;
    }

    .inicio__hero {
        margin-top: 148px;
    }

    .inicio__hero.inicio__hero--index {
        height: auto;
    }

    .serv_fichas{
        grid-template-columns: 1fr;
        gap: 12px;
    }
    
    .inicio__somos > div {
        max-height: 1600px;
        position: static;
        text-align: center;
        width: 100%;
    }

    .inicio__contacto > div {
        width: 320px;
    }

    .actividades__icons {
        display: grid;
        grid-template-columns: 1fr;
        padding: 32px;
    }

    .footer__content {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 32px;
    }

    .footer__content > div {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .padding-lr {
        padding-left: 72px;
        padding-right: 72px;
    }

    .padding-lrtb {
        padding: 72px;
    }

    .navbar-collapse.collapse.show {
        background-color: rgba(0, 0, 0, 0);
    }

    nav.navbar.bg-dark {
        padding: 12px 72px;
    }

    /* Clase para hacer responsive el contenido*/
    .responsive-container {
        grid-template-columns: 1fr 1fr;
    }

    .header .header__top,
    .header__data {
        flex-direction: row;
    }

    button.header__cta {
        margin: 0;
        width: auto;
    }

    .inicio__hero {
        margin-top: 48px;
    }

    .inicio__hero.inicio__hero--index {
        height: 100vh;
    }

    .actividades__icons {
        grid-template-columns: 1fr 1fr;
        padding: 12px;
    }

    .serv_fichas{
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .inicio__somos {
        position: relative;
        max-height: 840px;
    }

    .inicio__somos > div {
        left: 50%;
        transform: translateX(-50%);
        max-height: 940px;
        max-width: 980px;
        text-align: left;
        position: relative;
        width: 84vw;
    }


    .inicio__contacto > div {
        width: 520px;
    }

    .footer__content {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        justify-items: left;
    }

    .footer__content > div {
        border-right: 2px solid var(--color-gray);
    }
    
    .footer__content > div:nth-child(4),
    .footer__content > div:nth-child(2) {
        border-right: none;
    }
}

@media (min-width: 1160px) {
    .footer__content > div:nth-child(2) {
        border-right: 2px solid var(--color-gray);
    }
    .footer__content {
        gap: 0;
        grid-template-columns: repeat(4, 1fr);
    }
}